# fastapi==0.117.1
# uvicorn[standard]==0.37.0
# SQLAlchemy==2.0.43
# asyncpg==0.30.0
# pydantic==2.5.1
# passlib[argon2]==1.7.4
# pyjwt==2.10.1
# aiosmtplib==4.0.2
# python-dotenv==1.1.1
# cloudinary==1.44.1
# typing-extensions==4.15.0
# Pillow==11.3.0
# python-multipart==0.0.20
# pydantic_settings==2.3.0

# fastapi>=0.118.0
# uvicorn[standard]>=0.23.0
# SQLAlchemy>=2.0.43
# asyncpg>=0.30.0
# pydantic[email]>=2.5.1
# pydantic-settings>=2.11.0
# passlib[argon2]>=1.7.4
# pyjwt>=2.10.1
# aiosmtplib>=4.0.2
# python-dotenv>=1.1.1
# cloudinary>=1.44.1
# typing-extensions>=4.7.0
# Pillow>=11.3.0
# python-multipart>=0.0.20
# psycopg-binary>=3.2.10


fastapi>=0.118.0
uvicorn[standard]>=0.23.0
SQLAlchemy>=2.0.43
asyncpg>=0.30.0
pydantic[email]>=2.5.1
pydantic-settings>=2.11.0
passlib[argon2]>=1.7.4
pyjwt>=2.10.1
aiosmtplib>=4.0.2
python-dotenv>=1.1.1
cloudinary>=1.44.1
typing-extensions>=4.7.0
Pillow>=11.3.0
python-multipart>=0.0.20
psycopg-binary>=3.2.10

